h1 {
    font-family: "Spectral", Garamond, serif;
    color: darkgrey;
    text-align: center;
    padding: 30px;
}

h2 {
    font-family: "Spectral", Garamond, serif;
    color: black;
    text-align: center;
}

ul {
    font-family: Verdana, sans-serif;
    color: black;
    padding-left: 50px;
}