header {
    margin: 100px;
  }
  
  h1 {
      font-family: "Spectral", Garamond, serif;
      font-size: 3rem;
      color: black;
      text-align: center;
      text-transform: uppercase;
      margin: 5px;
  }
  
  h2 {
      font-family: "Spectral", Garamond, serif;
      color: black;
      text-align: center;
      text-transform: uppercase;
      margin: 75px;
  }
  
  p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #606060;
      text-align: center;
  }
  
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
  }
  
  a {
    display: block;
    background-color: #ADD8E6;
    width: 300px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border: 2px #ADD8E6;
    border-radius: 5px;
  }
  
  a:link {
    color: black;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #c4e3ed;
  }
  
  a:active {
    background-color: #3ca1c3;
  }