h1 {
    font-family: "Spectral", Garamond, serif;
    font-size: 3rem;
    color: darkgrey;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
}

h2 {
    font-family: "Spectral", Garamond, serif;
    color: black;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
}

ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}