header {
  padding: 100px;
  background-color: #DCD2CC;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #afb4bc;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  color: white;

}

nav li a:hover {
  background-color: #9da2a9
}

h1, h2, h3 {
  font-family: "EB Garamond", Garamond, serif;
}

h2, h3 {
  padding-left: 100px;
}

p, ul, table {
  padding: 50px 50px 50px 100px;
  font-family: Verdana, Tahoma, sans-serif;
}

#intro_photo {
  float: right;
  padding: 75px 100px 0px 25px;
}

#intro {
  display: block;
  background-color: #EDE7DC;
  padding: 50px 50px 50px 100px;
  margin-bottom: 100px;
}

#memories {
  display: block;
  padding-left: 100px;
  padding-top: 0px;
  padding-bottom: 10px;
}

ul {
  font-family: Verdana, Tahoma, sans-serif;
  padding: 25px 0px 25px 75px;
  margin-bottom: 50px;
  background-color: #CCAFA5;
  color: white;
  list-style-type: circle;
}

#memories_list {
  margin-left: 100px;
  width: 65%;
}

#photos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

footer {
  padding: 50px;
  background-color: #DCD2CC;
}

#repertoire_heading, #favorite_composers_heading {
  margin-top: 100px;
}

#repertoire_intro, #favorite_composers_intro {
  padding-top: 10px;
}

#videos iframe {
  margin-left: 100px;
  margin-bottom: 100px;
}

table {
  padding-top: 0px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #EDE7DC;
}

tr:hover {
  background-color: #dad6cc
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #CCAFA5;
  color: white;
  font-family: "EB Garamond", Garamond, serif;
  font-size: 1.25em;
}